<main>
    <!-- Hero -->
    <section class="section section bg-soft pb-5 overflow-hidden z-2">
        <div class="container z-2">
            <div class="container">
                <!-- Title -->
                <div class="row">
                    <div class="col text-center">
                        <h2 class="h5 mb-6"></h2>
                    </div>
                </div>
                {{#if successMgs}}
                <div class="alert alert-success alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-thumbs-up"></span></span>
                    <span class="alert-inner--text"><strong>Well done!</strong> {{ successMgs }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <!-- End of title-->
                {{# each products}}
                <div class="row mb-5">
                    {{#each this }}
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <div class="card bg-primary border-light shadow-soft">
                            <img src="{{ this.imagePath }}" style="width: 500px; height:200px;" class="card-img-top rounded-top"
                                alt="Themesberg office">
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-donate"></span> {{this.price}} ks</span>
                                <h3 class="h5 card-title mt-3">{{this.title}}</h3>
                                <p class="card-text">
                                    <ul>
                                        <li>Transport: Free transport</li>
                                        <li>Moneyback: 1 month</li>
                                        <li>Warranty: 24 months</li>
                                    </ul>
                                </p>
                                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary btn-sm mr-2"><span class="fas fa-cart-plus mr-3"></span>Add to Cart</a>
                                <a href="/view_item/{{this._id}}" class="btn btn-primary btn-sm ml-5"><span class="fab fa-leanpub mr-2"></span>Detail</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </section>

</main>