<main>
    <!-- Hero -->
    <section class="section section bg-soft pb-5 overflow-hidden z-2">
        <div class="container z-2">
            <div class="container">
                <!-- Title -->
                <div class="row">
                    <div class="col text-center">
                        <h2 class="h5 mb-6"></h2>
                    </div>
                </div>
                {{#if successMgs}}
                <div class="alert alert-success alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-thumbs-up"></span></span>
                    <span class="alert-inner--text"><strong>Well done!</strong> {{ successMgs }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <!-- End of title-->
                {{!-- {{#each products}} --}}
                <div class="row mb-5">
                    {{#if user}}
                    {{#each products}}
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <div class="card bg-primary border-light shadow-soft">
                            <img src="{{ imagePath }}" style="width: 500px; height:200px;"
                                class="card-img-top rounded-top" alt="Themesberg office">
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-donate"></span> {{price}}ks</span>
                                {{!-- {{#if ...ck_like}}
                                <a href="/unlike/{{_id}}" class="ml-8 btn btn-icon-only btn-primary"
                                    aria-label="love button" title="like">
                                    <span aria-hidden="true" class="fas fa-heart"></span> </a>
                                {{else}}
                                <a href="/like/{{_id}}" class="ml-8 btn btn-icon-only btn-primary"
                                    aria-label="love button" title="like">
                                    <span aria-hidden="true" class="far fa-heart"></span> </a>
                                {{/if}} --}}
                                <h3 class="h5 card-title mt-3">{{title}}</h3>
                                <p class="card-text">
                                <ul>
                                    <li>Transport: Free transport</li>
                                    <li>Moneyback: 1 month</li>
                                    <li>Warranty: 24 months</li>
                                </ul>
                                </p>
                                <a href="/add-to-cart/{{_id}}" class="btn btn-primary btn-sm mr-2"><span
                                        class="fas fa-cart-plus mr-3"></span>Add to Cart</a>
                                <a href="/view_item/{{_id}}" class="btn btn-primary btn-sm ml-5"><span
                                        class="fab fa-leanpub mr-2"></span>Detail</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    {{#each products }}
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <div class="card bg-primary border-light shadow-soft">
                            <img src="{{ imagePath }}" style="width: 500px; height:200px;"
                                class="card-img-top rounded-top" alt="Themesberg office">
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-donate"></span> {{price}}ks
                                    {{req.user.id}}</span>
                                <h3 class="h5 card-title mt-3">{{title}}</h3>
                                <p class="card-text">
                                <ul>
                                    <li>Transport: Free transport</li>
                                    <li>Moneyback: 1 month</li>
                                    <li>Warranty: 24 months</li>
                                </ul>
                                </p>
                                <a href="/add-to-cart/{{_id}}" class="btn btn-primary btn-sm mr-2"><span
                                        class="fas fa-cart-plus mr-3"></span>Add to Cart</a>
                                <a href="/view_item/{{_id}}" class="btn btn-primary btn-sm ml-5"><span
                                        class="fab fa-leanpub mr-2"></span>Detail</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </section>

</main>