 <div class="section bg-primary text-dark section-lg">
            <div class="container">
                <!-- Title -->
                {{!-- <div class="row">
                    <div class="col text-center">
                        
                    </div>
                </div> --}}
                <!-- End of title-->
                <div class="row mb-5 mt-5">
                    <div class="col-12 col-md-12">
                        <div class="card bg-primary border-light shadow-soft">
                            <div class="card-header p-3">
                                <img src="/{{product.imagePath}}" class="card-img-top rounded"
                                    alt="Designer desk">
                            </div>
                            <div class="card-body pt-2">
                                <div class="media d-flex align-items-center justify-content-between">
                                    <div class="post-group">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="23k followers">
                                            <img class="avatar-sm mr-2 img-fluid rounded-circle"
                                                src="/{{product.imagePath}}" alt="Jo portrait">{{product.title}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="small"><span class="fas fa-donate"></span> {{product.price}} ks</span>
                                    </div>
                                </div>
                                <h3 class="h5 card-title mt-4">{{product.title}}</h3>
                                <p class="card-text">{{{product.description}}}</p>
                                <a href="/add-to-cart/{{product._id}}" class="btn btn-primary btn-sm mr-10"><span class="fas fa-cart-plus mr-3"></span>Add to Cart</a>
                                {{#if login}}
                                     {{#if ck_like}}
                                    <a href="/unlike/{{product._id}}" class="ml-10 btn btn-icon-only btn-primary"
                                        aria-label="love button" title="like">
                                        <span aria-hidden="true" class="fas fa-heart"></span> </a>
                                    {{else}}
                                    <a href="/like/{{product._id}}" class="ml-10 btn btn-icon-only btn-primary"
                                        aria-label="love button" title="like">
                                        <span aria-hidden="true" class="far fa-heart"></span> </a>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>